<%- model_class = BeehiveGroup -%>
<div class="page-header">
  <h5><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h5>
</div>
<%= render :partial => 'form' %>
