<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    Wellcome <%= current_beekeeper.first_name %> <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-user">
    <li><%= link_to(edit_beekeeper_registration_path) do %>
          <i class="fa fa-user fa-fw"></i> User Profile</a>
          </li><% end %>
      <li><%= link_to(system_setups_path) do %>
            <i class="fa fa-gear fa-fw"></i> Settings</a>
            </li><% end %>
        <li class="divider"></li>
        <li><%= link_to(destroy_beekeeper_session_path, :method => :delete) do %>
              <i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li><% end %>
          </ul>
</li>