<%= f.fields_for :currencies do |v| %>
    <table class="table table-striped">
      <tr>
        <td><%= v.text_field :name, :class => 'form-control', :placeholder => 'Currency' %></td>
        <td><%= v.link_to_remove "Remove", :class => 'btn btn-danger' %></td>
      </tr>
    </table>
<% end %>
<p><%= f.link_to_add "Add", :currencies, :class => 'btn btn-primary' %></p>